<div class="container-fluid">
    <div class="row justify-content-center" id="header">
        <div class="col-12 col-md-4 col-lg-3" id="barra">
            <div class="row justify-content-center">
                <img src="./assets/img/fotocarnet.jpg" class="fotocarnet" alt="foto-carnet">
            </div>
            <br>
            <br>
            <h2>Sobre mí</h2>
            <p class="parrafos">Programadora especializada en <b>Desarrollo de
                    Aplicaciones Web</b>.
                <br>
                He ejercido 4 años como comercial en
                consultoría Partner Google For Education,
                orientada a proyectos de transformación
                digital para instituciones educativas.
            </p>
            <br>
            <hr>
            <br>
            <h2>Contacto</h2>
            
            <ul>
                <li>+34-622 37 24 03</li>
                <li>mi correo</li>
                <li>Sevilla, 41008</li>
                <li><a href="https://www.linkedin.com/in/yolanda-tain-guti%C3%A9rrez-b3a90b142/"
                        target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/YolandaTainGitHub" target="_blank">GitHub</a></li>
            </ul>
            <br>
            <hr>
            <br>
            
            <h2>Más información</h2>
            <br>
            <ul>
                <li>Carné de conducir.</li>
                <li>Vehículo propio.</li>
                <li>Disponibilidad total.</li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-7 text-center" id="titulo">
            <h1>Yolanda Tain Gutiérrez</h1>
            <h2>Programadora</h2>
            <br><br>
            <h2 id="titulos">Experiencia laboral</h2>
            <h6 id="titulos">Consultora IT Responsable Andalucía</h6>
            <h6 id="titulos">ieducando S.L. Sevilla | Julio 2018 / Septiembre 2022</h6>
            <p class="parrafos">Experiencia con productos y servicios Google For Education.
                Despliegue Google Workspace e integración con contenido editorial en
                proyectos de Transformación Digital para centros educativos. Gestión
                de recursos formativos (Fundae) y certificación Google Trainer.

                Certificados anuales productos/servicios marcas Lenovo y Hewlett-
                Packard.</p>
            <br>
            <hr>

            <h2 id="titulos">Datos académicos</h2>
            <h6 id="titulos">GRADO SUPERIOR EN ADMINISTRACIÓN Y FINANZAS</h6>
            <h6 id="titulos">Fundación Vedruna Sevilla | Septiembre 2017</h6>
            <p class="parrafos">Desarrollo de proyecto empresarial. Control de herramientas contables así como
                presupuestos y gestiones bancarias.</p>
            <br>
            <hr>

            <h2 id="titulos">GRADO EN HISTORIA DEL ARTE</h2>
            <h6 id="titulos">Universidad de Sevilla | Septiembre 2015</h6>
            <br>
            <hr>

            <h2 id="titulos">Otros</h2>
            <h6 id="titulos">Udemy</h6>
            <ul id="titulos">
                <li>Creación de Spotify con Angular</li>
                <li>Frontend ReactJS con proyecto Librería Online</li>
            </ul>
            <br>
            <hr>

            <h2 id="titulos">Idiomas</h2>
            <h6 id="titulos">Inglés: B2 Cambdrige</h6>
        </div>
    </div>
</div>
<hr>